In [36]:
#Script to reformat flux xls file for use in a stacked bar chart

#Created: 12.04.2016
#Last modified: 14.04.2016 Sorted data by abs_anthro value; added abs_anthro_perArea col

In [1]:
import numpy as np
import pandas as pd
import collections
import os
import xlrd

In [31]:
# Create dataframe from flux file

xl = pd.ExcelFile("/homel/cnangini/PROJECTS/CO2airsea/for_DataViz.xls")
xl.sheet_names
#[u'Sheet1', u'Sheet2', u'Sheet3']
#[u'Sheet1']
df = xl.parse("Sheet1")
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,ORCA2,Unnamed: 5,Unnamed: 6,ORCA05,Unnamed: 8,Unnamed: 9,ORCA025,Unnamed: 11,Unnamed: 12
0,NaN,"Laruelle et al. (2013, 2014)",NaN,NaN,Surface\n(10^3 km^2),Air-sea flux\n(mol C m^-2 yr^-1),NaN,Surface\n(10^3 km^2),Air-sea flux\n(mol C m^-2 yr^-1),NaN,Surface\n(10^3 km^2),Air-sea flux\n(mol C m^-2 yr^-1),NaN
1,NaN,MARCATS,CLASS,Mean Latitude (°N),NaN,Total,Anthropogenic,NaN,Total,Anthropogenic,NaN,Total,Anthropogenic
2,NaN,California Current,EBC,31.43,71.9735,0.258775,NaN,118.311,-0.33556,-0.35,197.109,-0.408655,NaN
3,NaN,Peruvian Upwelling Current,EBC,-20.98,130.317,-0.0424662,NaN,137.516,1.44461,-0.39,143.984,1.40228,NaN
4,NaN,Iberian Upwelling,EBC,47.39,174.844,-0.953769,NaN,251.093,-1.12506,-0.27,278.965,-0.850057,NaN
5,NaN,Moroccan Upwelling,EBC,22.46,111.796,0.192162,NaN,176.947,0.18122,-0.33,210.894,0.201397,NaN
6,NaN,Southern Western Africa,EBC,-27.99,307.138,-1.14521,NaN,299.792,0.428844,-0.59,306.152,0.413103,NaN
7,NaN,Leeuwin Current,EBC,-28.21,38.0426,-0.909239,NaN,81.4649,-2.05471,-0.6,110.191,-1.8733,NaN
8,NaN,Western Arabian Sea,Indian margins,17.08,20.4899,-0.062801,NaN,81.8175,0.347792,-0.31,104.031,0.470945,NaN
9,NaN,Eastern Arabian Sea,Indian margins,16.61,340.797,0.1413,NaN,323.5,0.209194,-0.3,355.181,0.285837,NaN

In [32]:
df05 = df.drop(['Unnamed: 0', 'ORCA2', 'Unnamed: 5', 'Unnamed: 6', 'ORCA025', 'Unnamed: 11', 'Unnamed: 12'], 1)
#rename columns
df05.columns = ['MARCATS', 'RCLASS', 'LAT', 'AREA', 'TOTAL', 'ANTHRO']
df05.head(5)

,MARCATS,RCLASS,LAT,AREA,TOTAL,ANTHRO
0,"Laruelle et al. (2013, 2014)",NaN,NaN,Surface\n(10^3 km^2),Air-sea flux\n(mol C m^-2 yr^-1),NaN
1,MARCATS,CLASS,Mean Latitude (°N),NaN,Total,Anthropogenic
2,California Current,EBC,31.43,118.311,-0.33556,-0.35
3,Peruvian Upwelling Current,EBC,-20.98,137.516,1.44461,-0.39
4,Iberian Upwelling,EBC,47.39,251.093,-1.12506,-0.27

In [33]:
#Remove rows 0 and 1
df05 = df05.drop([0, 1], 0)
df05.head(5)

                      MARCATS RCLASS    LAT     AREA     TOTAL ANTHRO
2          California Current    EBC  31.43  118.311  -0.33556  -0.35
3  Peruvian Upwelling Current    EBC -20.98  137.516   1.44461  -0.39
4           Iberian Upwelling    EBC  47.39  251.093  -1.12506  -0.27
5          Moroccan Upwelling    EBC  22.46  176.947   0.18122  -0.33
6     Southern Western Africa    EBC -27.99  299.792  0.428844  -0.59

In [34]:
#Add column for abs value of ANTRHO for plotting purposes
df05['abs_anthro'] = -1 * df05['ANTHRO']
df05.head(5)

,MARCATS,RCLASS,LAT,AREA,TOTAL,ANTHRO,abs_anthro
2,California Current,EBC,31.43,118.311,-0.33556,-0.35,0.35
3,Peruvian Upwelling Current,EBC,-20.98,137.516,1.44461,-0.39,0.39
4,Iberian Upwelling,EBC,47.39,251.093,-1.12506,-0.27,0.27
5,Moroccan Upwelling,EBC,22.46,176.947,0.18122,-0.33,0.33
6,Southern Western Africa,EBC,-27.99,299.792,0.428844,-0.59,0.59

In [35]:
#Add columns normalized by surface area

df05['total_perArea'] = df05['TOTAL']/df05['AREA']
df05['anthro_perArea'] = df05['ANTHRO']/df05['AREA']
df05['abs_anthro_perArea'] = df05['abs_anthro']/df05['AREA']
df05.head(5)

,MARCATS,RCLASS,LAT,AREA,TOTAL,ANTHRO,abs_anthro,total_perArea,anthro_perArea,abs_anthro_perArea
2,California Current,EBC,31.43,118.311,-0.33556,-0.35,0.35,-0.002836254,-0.002958305,0.002958305
3,Peruvian Upwelling Current,EBC,-20.98,137.516,1.44461,-0.39,0.39,0.01050503,-0.002836034,0.002836034
4,Iberian Upwelling,EBC,47.39,251.093,-1.12506,-0.27,0.27,-0.004480651,-0.001075299,0.001075299
5,Moroccan Upwelling,EBC,22.46,176.947,0.18122,-0.33,0.33,0.001024148,-0.001864965,0.001864965
6,Southern Western Africa,EBC,-27.99,299.792,0.428844,-0.59,0.59,0.001430472,-0.001968031,0.001968031

In [37]:
#Sort by abs_anthro
#df_stats.sort('MtCO2', ascending=False).head(50)
df05 = df05.sort('abs_anthro', ascending=False)
df05.head(10)

,MARCATS,RCLASS,LAT,AREA,TOTAL,ANTHRO,abs_anthro,total_perArea,anthro_perArea,abs_anthro_perArea
24,Southern Greenland,Polar,64.75,237.64,-3.35089,-0.86,0.86,-0.0141007,-0.003618919,0.003618919
28,Antarctic Shelves,Polar,-71.76,2462,-0.904177,-0.69,0.69,-0.000367253,-0.00028026,0.00028026
7,Leeuwin Current,EBC,-28.21,81.4649,-2.05471,-0.6,0.6,-0.02522203,-0.007365135,0.007365135
25,Norwegian Basin,Polar,67.94,140.691,-2.87327,-0.6,0.6,-0.02042256,-0.004264665,0.004264665
6,Southern Western Africa,EBC,-27.99,299.792,0.428844,-0.59,0.59,0.001430472,-0.001968031,0.001968031
43,Florida Upwelling,WBC,40.62,784.725,-2.08861,-0.56,0.56,-0.002661582,-0.0007136258,0.0007136258
44,Agulhas Current,WBC,-28.37,189.285,-1.20098,-0.53,0.53,-0.006344824,-0.002800011,0.002800011
14,North Eastern Atlantic,Marginal sea,56.69,1020.02,-2.16314,-0.53,0.53,-0.002120684,-0.0005195977,0.0005195977
33,New Zealand,Subpolar,-45.15,262.966,-1.22903,-0.52,0.52,-0.004673722,-0.001977442,0.001977442
20,Sea of Japan,Marginal sea,41.93,233.304,-3.07354,-0.51,0.51,-0.01317397,-0.002185989,0.002185989

In [38]:
#http://stackoverflow.com/questions/29942167/transposing-one-column-in-python-pandas-with-the-simplest-index-possible
#dc.pivot(columns='disease_header', index='medicine', values='disease').reset_index()
df05_piv = df05.pivot(columns='MARCATS', index='RCLASS', values='abs_anthro').reset_index()
#df05_piv = df05_piv.drop(['CLASS'], 1)
df05_piv

MARCATS,RCLASS,Agulhas Current,Antarctic Shelves,Baltic Sea,Barents & Kara Sea,Bay of Bengal,Black Sea,Brazilian Current,California Current,Canadian Archipeloagos,...,Southern America,Southern Australia,Southern Greenland,Southern Western Africa,Tropical Eastern Atlantic,Tropical Eastern Indian,Tropical Eastern Pacific,Tropical Western Atlantic,Tropical Western Indian,Western Arabian Sea
0,EBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35,NaN,...,NaN,NaN,NaN,0.59,NaN,NaN,NaN,NaN,NaN,NaN
1,Indian margins,NaN,NaN,NaN,NaN,0.31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,0.31
2,Marginal sea,NaN,NaN,0.01,NaN,NaN,0.18,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Polar,NaN,0.69,NaN,0.11,NaN,NaN,NaN,NaN,0.09,...,NaN,NaN,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Subpolar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.46,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Tropical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.19,NaN,0.36,0.26,0.16,NaN
6,WBC,0.53,NaN,NaN,NaN,NaN,NaN,0.34,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
#Replace NaN with 0
df05_piv = df05_piv.replace(np.nan,0, regex=True)
df05_piv

MARCATS,RCLASS,Agulhas Current,Antarctic Shelves,Baltic Sea,Barents & Kara Sea,Bay of Bengal,Black Sea,Brazilian Current,California Current,Canadian Archipeloagos,...,Southern America,Southern Australia,Southern Greenland,Southern Western Africa,Tropical Eastern Atlantic,Tropical Eastern Indian,Tropical Eastern Pacific,Tropical Western Atlantic,Tropical Western Indian,Western Arabian Sea
0,EBC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.35,0.00,...,0.00,0.00,0.00,0.59,0.00,0.0,0.00,0.00,0.00,0.00
1,Indian margins,0.00,0.00,0.00,0.00,0.31,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.2,0.00,0.00,0.00,0.31
2,Marginal sea,0.00,0.00,0.01,0.00,0.00,0.18,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
3,Polar,0.00,0.69,0.00,0.11,0.00,0.00,0.00,0.00,0.09,...,0.00,0.00,0.86,0.00,0.00,0.0,0.00,0.00,0.00,0.00
4,Subpolar,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.46,0.27,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
5,Tropical,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.19,0.0,0.36,0.26,0.16,0.00
6,WBC,0.53,0.00,0.00,0.00,0.00,0.00,0.34,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00

In [10]:
#Sort by MARCATS?
#df05_piv.sort('MARCATS', ascending=False, axis=0).head(5)

In [11]:
#Get class list
#class_list = np.unique(df05.iloc[:,1].values)
#class_list

In [12]:
#df05_piv['RCLASS'] = class_list
#df05_piv

In [13]:
df05_piv.columns.name

'MARCATS'

In [14]:
df05_piv.columns.name = ''
df05_piv

,RCLASS,Agulhas Current,Antarctic Shelves,Baltic Sea,Barents & Kara Sea,Bay of Bengal,Black Sea,Brazilian Current,California Current,Canadian Archipeloagos,...,Southern America,Southern Australia,Southern Greenland,Southern Western Africa,Tropical Eastern Atlantic,Tropical Eastern Indian,Tropical Eastern Pacific,Tropical Western Atlantic,Tropical Western Indian,Western Arabian Sea
0,EBC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.35,0.00,...,0.00,0.00,0.00,0.59,0.00,0.0,0.00,0.00,0.00,0.00
1,Indian margins,0.00,0.00,0.00,0.00,0.31,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.2,0.00,0.00,0.00,0.31
2,Marginal sea,0.00,0.00,0.01,0.00,0.00,0.18,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
3,Polar,0.00,0.69,0.00,0.11,0.00,0.00,0.00,0.00,0.09,...,0.00,0.00,0.86,0.00,0.00,0.0,0.00,0.00,0.00,0.00
4,Subpolar,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.46,0.27,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
5,Tropical,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.19,0.0,0.36,0.26,0.16,0.00
6,WBC,0.53,0.00,0.00,0.00,0.00,0.00,0.34,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00

In [17]:
#df05_piv.iloc[[0]]

In [15]:
#Save to csv
#df05_piv.to_csv('/homel/cnangini/PROJECTS/CO2airsea/orca05.tsv', float_format='%.2f', sep='\t')

In [41]:
#Create table for abs_anthro per unit Region Area

#Pivot orig table
df05_piv_perArea = df05.pivot(columns='MARCATS', index='RCLASS', values='abs_anthro_perArea').reset_index()

#Replace NaN with 0
df05_piv = df05_piv.replace(np.nan,0, regex=True)
df05_piv_perArea

MARCATS,RCLASS,Agulhas Current,Antarctic Shelves,Baltic Sea,Barents & Kara Sea,Bay of Bengal,Black Sea,Brazilian Current,California Current,Canadian Archipeloagos,...,Southern America,Southern Australia,Southern Greenland,Southern Western Africa,Tropical Eastern Atlantic,Tropical Eastern Indian,Tropical Eastern Pacific,Tropical Western Atlantic,Tropical Western Indian,Western Arabian Sea
0,EBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002958305,NaN,...,NaN,NaN,NaN,0.001968031,NaN,NaN,NaN,NaN,NaN,NaN
1,Indian margins,NaN,NaN,NaN,NaN,0.001573436,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0002752372,NaN,NaN,NaN,0.00378892
2,Marginal sea,NaN,NaN,3.08443e-05,NaN,NaN,0.001378972,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Polar,NaN,0.00028026,NaN,6.6313e-05,NaN,NaN,NaN,NaN,8.694812e-05,...,NaN,NaN,0.003618919,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Subpolar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0004084242,0.0006888669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Tropical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0008435334,NaN,0.002363461,0.0005428734,0.003445002,NaN
6,WBC,0.002800011,NaN,NaN,NaN,NaN,NaN,0.0007166087,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#Build sankey json file

In [16]:
#Get sources list
sources = np.unique(df05.iloc[:,1].values) #RCLASS COL
sources

array([u'EBC', u'Indian margins', u'Marginal sea', u'Polar', u'Subpolar',
       u'Tropical', u'WBC'], dtype=object)

In [20]:
df05.head(10)

,MARCATS,RCLASS,LAT,AREA,TOTAL,ANTHRO,abs_anthro,total_perArea,anthro_perArea
24,Southern Greenland,Polar,64.75,237.64,-3.35089,-0.86,0.86,-0.0141007,-0.003618919
28,Antarctic Shelves,Polar,-71.76,2462,-0.904177,-0.69,0.69,-0.000367253,-0.00028026
7,Leeuwin Current,EBC,-28.21,81.4649,-2.05471,-0.6,0.6,-0.02522203,-0.007365135
25,Norwegian Basin,Polar,67.94,140.691,-2.87327,-0.6,0.6,-0.02042256,-0.004264665
6,Southern Western Africa,EBC,-27.99,299.792,0.428844,-0.59,0.59,0.001430472,-0.001968031
43,Florida Upwelling,WBC,40.62,784.725,-2.08861,-0.56,0.56,-0.002661582,-0.0007136258
44,Agulhas Current,WBC,-28.37,189.285,-1.20098,-0.53,0.53,-0.006344824,-0.002800011
14,North Eastern Atlantic,Marginal sea,56.69,1020.02,-2.16314,-0.53,0.53,-0.002120684,-0.0005195977
33,New Zealand,Subpolar,-45.15,262.966,-1.22903,-0.52,0.52,-0.004673722,-0.001977442
20,Sea of Japan,Marginal sea,41.93,233.304,-3.07354,-0.51,0.51,-0.01317397,-0.002185989

In [22]:
#Get regions list
regions = df05.iloc[:,0].values #MARCAT col
regions

array([u'Southern Greenland', u'Antarctic Shelves', u'Leeuwin Current',
       u'Norwegian Basin', u'Southern Western Africa',
       u'Florida Upwelling', u'Agulhas Current', u'North Eastern Atlantic',
       u'New Zealand', u'Sea of Japan', u'Eastern Austrialian Current',
       u'Southern America', u'North Eastern Pacific',
       u'China Sea & Kuroshio', u'Peruvian Upwelling Current',
       u'Sea of Okhotsk', u'Tropical Eastern Pacific',
       u'California Current', u'Brazilian Current', u'Moroccan Upwelling',
       u'Gulf of Mexico', u'Western Arabian Sea', u'Carribean Sea',
       u'Bay of Bengal', u'Sea of Labrador', u'Mediterranean Sea',
       u'Eastern Arabian Sea', u'Iberian Upwelling', u'Southern Australia',
       u'Northern Greenland', u'Tropical Western Atlantic',
       u'North Western Pacific', u'Northern Australia',
       u'Tropical Eastern Indian', u'South East Asia',
       u'Tropical Eastern Atlantic', u'Black Sea',
       u'Tropical Western Indian', u'Red Sea', u'Persian Gulf',
       u'Barents & Kara Sea', u'Canadian Archipeloagos', u'Hudson Bay',
       u'Siberian Shelves', u'Baltic Sea'], dtype=object)

In [23]:
nodes = sources.tolist() + regions.tolist()
nodes

[u'EBC',
 u'Indian margins',
 u'Marginal sea',
 u'Polar',
 u'Subpolar',
 u'Tropical',
 u'WBC',
 u'Southern Greenland',
 u'Antarctic Shelves',
 u'Leeuwin Current',
 u'Norwegian Basin',
 u'Southern Western Africa',
 u'Florida Upwelling',
 u'Agulhas Current',
 u'North Eastern Atlantic',
 u'New Zealand',
 u'Sea of Japan',
 u'Eastern Austrialian Current',
 u'Southern America',
 u'North Eastern Pacific',
 u'China Sea & Kuroshio',
 u'Peruvian Upwelling Current',
 u'Sea of Okhotsk',
 u'Tropical Eastern Pacific',
 u'California Current',
 u'Brazilian Current',
 u'Moroccan Upwelling',
 u'Gulf of Mexico',
 u'Western Arabian Sea',
 u'Carribean Sea',
 u'Bay of Bengal',
 u'Sea of Labrador',
 u'Mediterranean Sea',
 u'Eastern Arabian Sea',
 u'Iberian Upwelling',
 u'Southern Australia',
 u'Northern Greenland',
 u'Tropical Western Atlantic',
 u'North Western Pacific',
 u'Northern Australia',
 u'Tropical Eastern Indian',
 u'South East Asia',
 u'Tropical Eastern Atlantic',
 u'Black Sea',
 u'Tropical Western Indian',
 u'Red Sea',
 u'Persian Gulf',
 u'Barents & Kara Sea',
 u'Canadian Archipeloagos',
 u'Hudson Bay',
 u'Siberian Shelves',
 u'Baltic Sea']

In [24]:
df05.head(5)

,MARCATS,RCLASS,LAT,AREA,TOTAL,ANTHRO,abs_anthro,total_perArea,anthro_perArea
24,Southern Greenland,Polar,64.75,237.64,-3.35089,-0.86,0.86,-0.0141007,-0.003618919
28,Antarctic Shelves,Polar,-71.76,2462,-0.904177,-0.69,0.69,-0.000367253,-0.00028026
7,Leeuwin Current,EBC,-28.21,81.4649,-2.05471,-0.6,0.6,-0.02522203,-0.007365135
25,Norwegian Basin,Polar,67.94,140.691,-2.87327,-0.6,0.6,-0.02042256,-0.004264665
6,Southern Western Africa,EBC,-27.99,299.792,0.428844,-0.59,0.59,0.001430472,-0.001968031

In [25]:
#df05.iloc['California Current']
df05.iloc[0]['abs_anthro']

0.86

In [26]:
pwd

u'/homel/cnangini/PROJECTS/CO2airsea'

In [27]:
sources

array([u'EBC', u'Indian margins', u'Marginal sea', u'Polar', u'Subpolar',
       u'Tropical', u'WBC'], dtype=object)

In [28]:
df05

,MARCATS,RCLASS,LAT,AREA,TOTAL,ANTHRO,abs_anthro,total_perArea,anthro_perArea
24,Southern Greenland,Polar,64.75,237.64,-3.35089,-0.86,0.86,-0.0141007,-0.003618919
28,Antarctic Shelves,Polar,-71.76,2462,-0.904177,-0.69,0.69,-0.000367253,-0.00028026
7,Leeuwin Current,EBC,-28.21,81.4649,-2.05471,-0.6,0.6,-0.02522203,-0.007365135
25,Norwegian Basin,Polar,67.94,140.691,-2.87327,-0.6,0.6,-0.02042256,-0.004264665
6,Southern Western Africa,EBC,-27.99,299.792,0.428844,-0.59,0.59,0.001430472,-0.001968031
43,Florida Upwelling,WBC,40.62,784.725,-2.08861,-0.56,0.56,-0.002661582,-0.0007136258
44,Agulhas Current,WBC,-28.37,189.285,-1.20098,-0.53,0.53,-0.006344824,-0.002800011
14,North Eastern Atlantic,Marginal sea,56.69,1020.02,-2.16314,-0.53,0.53,-0.002120684,-0.0005195977
33,New Zealand,Subpolar,-45.15,262.966,-1.22903,-0.52,0.52,-0.004673722,-0.001977442
20,Sea of Japan,Marginal sea,41.93,233.304,-3.07354,-0.51,0.51,-0.01317397,-0.002185989
45,Eastern Austrialian Current,WBC,-38.11,97.4527,-1.73964,-0.5,0.5,-0.01785112,-0.005130694
30,Southern America,Subpolar,-47.92,1126.28,-1.5125,-0.46,0.46,-0.001342917,-0.0004084242
29,North Eastern Pacific,Subpolar,56.05,396.824,-2.2943,-0.45,0.45,-0.005781656,-0.001134004
46,China Sea & Kuroshio,WBC,33.13,1131.67,-1.9898,-0.45,0.45,-0.001758286,-0.0003976424
3,Peruvian Upwelling Current,EBC,-20.98,137.516,1.44461,-0.39,0.39,0.01050503,-0.002836034
21,Sea of Okhotsk,Marginal sea,55.61,932.861,-1.66217,-0.36,0.36,-0.001781798,-0.0003859096
35,Tropical Eastern Pacific,Tropical,8.378,152.319,-0.121617,-0.36,0.36,-0.0007984362,-0.002363461
2,California Current,EBC,31.43,118.311,-0.33556,-0.35,0.35,-0.002836254,-0.002958305
42,Brazilian Current,WBC,-27.06,474.457,-0.328442,-0.34,0.34,-0.0006922482,-0.0007166087
5,Moroccan Upwelling,EBC,22.46,176.947,0.18122,-0.33,0.33,0.001024148,-0.001864965
12,Gulf of Mexico,Marginal sea,25.38,469.398,-0.794206,-0.32,0.32,-0.001691967,-0.0006817243
8,Western Arabian Sea,Indian margins,17.08,81.8175,0.347792,-0.31,0.31,0.004250827,-0.00378892
37,Carribean Sea,Tropical,14.19,303.5,0.1004,-0.31,0.31,0.0003308072,-0.001021417
10,Bay of Bengal,Indian margins,18.3,197.021,-0.693303,-0.31,0.31,-0.003518929,-0.001573436
31,Sea of Labrador,Subpolar,58.29,336.267,-0.944395,-0.31,0.31,-0.002808468,-0.0009218865
16,Mediterranean Sea,Marginal sea,38.07,423.1,-0.2353,-0.3,0.3,-0.0005561333,-0.0007090522
9,Eastern Arabian Sea,Indian margins,16.61,323.5,0.209194,-0.3,0.3,0.0006466584,-0.000927357
4,Iberian Upwelling,EBC,47.39,251.093,-1.12506,-0.27,0.27,-0.004480651,-0.001075299
32,Southern Australia,Subpolar,-35.6,391.948,-1.36748,-0.27,0.27,-0.003488932,-0.0006888669
23,Northern Greenland,Polar,75.2,544.174,-0.968926,-0.26,0.26,-0.001780544,-0.0004777884
36,Tropical Western Atlantic,Tropical,2.726,478.933,0.857785,-0.26,0.26,0.001791033,-0.0005428734
34,North Western Pacific,Subpolar,60.17,1024.93,-1.84886,-0.24,0.24,-0.001803889,-0.0002341623
40,Northern Australia,Tropical,-11.15,2278.28,-0.287668,-0.23,0.23,-0.0001262654,-0.0001009534
11,Tropical Eastern Indian,Indian margins,-3.274,726.646,-0.0552213,-0.2,0.2,-7.599478e-05,-0.0002752372
41,South East Asia,Tropical,8.667,2129.62,-0.287109,-0.2,0.2,-0.000134817,-9.391347e-05
38,Tropical Eastern Atlantic,Tropical,2.095,225.243,0.0884754,-0.19,0.19,0.0003927998,-0.0008435334
17,Black Sea,Marginal sea,44.75,130.532,-0.239324,-0.18,0.18,-0.001833451,-0.001378972
39,Tropical Western Indian,Tropical,-13.9,46.4441,-0.0559819,-0.16,0.16,-0.001205361,-0.003445002
18,Red Sea,Marginal sea,18.31,157.725,0.242964,-0.15,0.15,0.001540428,-0.0009510223
19,Persian Gulf,Marginal sea,26.9,207.628,0.0369855,-0.12,0.12,0.0001781335,-0.0005779567
27,Barents & Kara Sea,Polar,74.52,1658.8,-0.748089,-0.11,0.11,-0.000450982,-6.6313e-05
22,Canadian Archipeloagos,Polar,73.52,1035.1,-0.518609,-0.09,0.09,-0.0005010231,-8.694812e-05
13,Hudson Bay,Marginal sea,60.92,998.314,0.313345,-0.08,0.08,0.0003138742,-8.013511e-05
26,Siberian Shelves,Polar,74.05,1848.21,-0.47295,-0.05,0.05,-0.0002558962,-2.70532e-05
15,Baltic Sea,Marginal sea,58.98,324.209,0.303937,-0.01,0.01,0.0009374724,-3.08443e-05

In [30]:
file = open('sankey_flux.json', 'w')

file.write('{\n')
file.write('"nodes": [\n')
for node in nodes:
    file.write('{"name": "%s"},\n' %(node))
# remove last comma
file.seek(-2, os.SEEK_END)
file.truncate()
file.write('\n],\n')

file.write('"links": [\n')
idx = 0;
#for source in sources:
for region in regions:
    source = df05.iloc[idx]['RCLASS']
    #for region in regions:
    print idx
    print source
    print region
    print df05.iloc[idx]['abs_anthro']
    #file.write('{"source": "%s", "target": "%s", "value": "%.2f"},\n' %(source, region, df05[region][source]))
    file.write('{"source": "%s", "target": "%s", "value": "%.2f"},\n' %(source, region, df05.iloc[idx]['abs_anthro']))
    idx = idx + 1
# remove last comma
file.seek(-2, os.SEEK_END)
file.truncate()
file.write('\n]\n')
file.write('}\n')

file.close()

0
Polar
Southern Greenland
0.86
1
Polar
Antarctic Shelves
0.69
2
EBC
Leeuwin Current
0.6
3
Polar
Norwegian Basin
0.6
4
EBC
Southern Western Africa
0.59
5
WBC
Florida Upwelling
0.56
6
WBC
Agulhas Current
0.53
7
Marginal sea
North Eastern Atlantic
0.53
8
Subpolar
New Zealand
0.52
9
Marginal sea
Sea of Japan
0.51
10
WBC
Eastern Austrialian Current
0.5
11
Subpolar
Southern America
0.46
12
Subpolar
North Eastern Pacific
0.45
13
WBC
China Sea & Kuroshio
0.45
14
EBC
Peruvian Upwelling Current
0.39
15
Marginal sea
Sea of Okhotsk
0.36
16
Tropical
Tropical Eastern Pacific
0.36
17
EBC
California Current
0.35
18
WBC
Brazilian Current
0.34
19
EBC
Moroccan Upwelling
0.33
20
Marginal sea
Gulf of Mexico
0.32
21
Indian margins
Western Arabian Sea
0.31
22
Tropical
Carribean Sea
0.31
23
Indian margins
Bay of Bengal
0.31
24
Subpolar
Sea of Labrador
0.31
25
Marginal sea
Mediterranean Sea
0.3
26
Indian margins
Eastern Arabian Sea
0.3
27
EBC
Iberian Upwelling
0.27
28
Subpolar
Southern Australia
0.27
29
Polar
Northern Greenland
0.26
30
Tropical
Tropical Western Atlantic
0.26
31
Subpolar
North Western Pacific
0.24
32
Tropical
Northern Australia
0.23
33
Indian margins
Tropical Eastern Indian
0.2
34
Tropical
South East Asia
0.2
35
Tropical
Tropical Eastern Atlantic
0.19
36
Marginal sea
Black Sea
0.18
37
Tropical
Tropical Western Indian
0.16
38
Marginal sea
Red Sea
0.15
39
Marginal sea
Persian Gulf
0.12
40
Polar
Barents & Kara Sea
0.11
41
Polar
Canadian Archipeloagos
0.09
42
Marginal sea
Hudson Bay
0.08
43
Polar
Siberian Shelves
0.05
44
Marginal sea
Baltic Sea
0.01